html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

:root{
	--hlavniBarva:rgba(206, 195, 188, 0.8);
    --hlavniBarvaPruhledna:rgba(206, 195, 188, 0.5);

    --sekundarniBarva: rgba(144, 124, 99, 0.2);

    --barvaTextu: #333333 ;

    --pismo1: "Montserrat";
    --pismo2: "hind";

}


/* obecne */

p{
    font-family: var(--pismo2);
    margin: 0;
    color: var(--barvaTextu);
}

body{
    background-color: var(--hlavniBarva);
    margin: 0;
}

.nadpis1{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 40px;
    font-family: var(--pismo1);
    color: var(--barvaTextu);
    text-decoration: none;
    margin: 0 0 25px 0;
}

@media screen and  (min-width: 640px){
    .nadpis1{
        font-size: 70px;
        margin: 0 0 40px 0;
    }  
}

.nezobrazovat{
    display: none;
}

@media screen and  (min-width: 640px){
    .nezobrazovat{
        display: block;
    }
}

.nadpis2{
    font-family: var(--pismo1);
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    color: var(--barvaTextu);
    text-decoration: none;
    font-size: 20px;
}

@media screen and  (min-width: 640px){
    .nadpis2{
        font-size: 30px;
    }  
}

.nadpis3{
    font-family: var(--pismo1);
    text-transform: uppercase;
    margin: 15px 0;
    font-weight: normal;
    font-size: 15px;

}

.tlacitko{
    display: inline-block;
    background-color: rgba(144, 124, 99, 0.2);
    margin:  4% 0 0 0;
    padding: 15px 20px;
    border-radius: 10px;
    transition: transform 0.5s;
}

.tlacitko--zmenaBarvy{
    background-color: rgba(206, 195, 188, 0.7);
}

.tlacitko:hover{
    transform: scale(1.1)
}

.tlacitko2:hover{
    transform: scale(1.1)

}

.tlacitko__odkaz{
    font-family: var(--pismo1);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    color: var(--barvaTextu);
    font-weight: bolder;
}


/* Hlavička */
    
.hlavicka{
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    background-image: url(/images/hlavni_fotka.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

@media screen and (min-width: 640px){
    .hlavicka{
        height: 600px;
    }
}

/* Navigační lišta */

.navigacniLista{ 
    flex: 100%;
    display: flex;
    justify-content: space-between;
	align-items: center;
    height: 60px;
    background-color: var(--hlavniBarvaPruhledna);
    padding: 0 3%;
}

@media screen and  (min-width: 640px){
    .navigacniLista{ 
        transition: background-color 0.8s;
    }
    
    .navigacniLista:hover{
        background-color: rgba(206, 195, 188, 0.75);
        transition: background-color 0.8s;
      }   
}

.logoVelaris{
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--pismo1);
    color: var(--barvaTextu);
    font-weight: bold;
    font-size: 20px;
}

@media screen and  (min-width: 640px){
    .logoVelaris{
        transition: transform 0.5s;
        position: relative;
    }
    .logoVelaris:hover{
         transform: scale(1.1);
     }
}

.navigacniLista__checkbox{
    position: absolute;
	Left: -9999px; 
}

.navigacniLista__popisekCheckboxu{
    color: var(--barvaTextu);
    text-decoration: none;
    font-size: 25px;
}

@media screen and  (min-width: 640px){
    .navigacniLista__popisekCheckboxu{  
        display: none;
    } 
}

.navigacniLista__menu{  
        margin: 0;
        padding: 0;
        list-style: none;
        /* display: none; */
}

.navigacniLista__checkbox:checked ~ .navigacniLista__menu{
    display: block;
}

@media screen and  (min-width: 640px){
    .navigacniLista__menu{  
        display: flex !important;
    } 
}

.navigacniLista__polozka{
    background-color: var(--hlavniBarva);
}


@media screen and  (min-width: 640px){
    .navigacniLista__polozka{
        flex-basis: calc(100%/3);
        padding: 5px;
        transition: transform 0.5s;
        position: relative; 
        background-color: transparent;

    }
    .navigacniLista__polozka:hover{
        transform: scale(1.1);
    }
}

.navigacniLista__odkaz{
    display: block;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--pismo1);
    color: var(--barvaTextu);
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
}



    
/* hlavicka nadpis */

.hlavicka__nadpis{
    flex: 100%;
    height: 360px;

    display: flex;
    Justify-content: center;
    align-items: center; 
}

@media screen and  (min-width: 640px){
    .hlavicka__nadpis{
        height: 440px; 
    }
}

.hlavicka__box{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--hlavniBarvaPruhledna);
    text-align: center;
    height: 200px;
    width: 80%;
    
}

@media screen and  (min-width: 640px){
    .hlavicka__box{
        height: 300px;
        width: 70%;
    }  
}

.hlavicka__text{
    text-decoration: none;
}

/* Vítejte */

.vitejte{
    text-align: center;
    padding: 5% 10%;
}

/* Menu */

.menu{
    background-color: var(--sekundarniBarva);
    text-align: center;
    padding: 5% 10%;
}

@media screen and  (min-width: 640px){
     .menu__box{
        display: flex;
        flex-wrap: wrap;
        height: 100%;
    }
}

@media screen and  (min-width: 640px){
    .menu__polozka{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 5% 10%;
        height: 100%;

        flex: calc(100%/3);
        padding: 2% 5% 0 5%;
    }
}

.menu__boxNaObrazky{
    padding: 0 15%;
    height: 250px;
}


@media screen and  (min-width: 640px){

    .menu__boxNaObrazky{
        flex: 100%;
        box-shadow: rgba(144, 124, 99, 0.6) 0 0 5px;
        display: flex;
        height: 100%;
        padding: 0; 
        overflow: hidden;
    }
}

.menu__obrazek{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and  (min-width: 640px){
    .menu__obrazek{
        transition: transform 0.5s;
        position: relative; 
    } 

    .menu__obrazek:hover{
        transform: scale(1.1)
    }
}

.menu__odkazy{
    background-color: var(--hlavniBarva);
    box-shadow: rgba(144, 124, 99, 0.6) 0 0 5px;
    margin: 0 15% 7% 15%;
    height: 100%;
}

@media screen and  (min-width: 640px){
    .menu__odkazy{
        flex: 100%;
        background-color: var(--hlavniBarva);
        padding: 10px;
        box-shadow: rgba(144, 124, 99, 0.6) 0 0 5px;
        margin: 0;
    }  
}

.menu__odkaz{
    text-decoration: none;
    font-family: var(--pismo2);
    color: var(--barvaTextu);
    text-transform: uppercase;
}

@media screen and  (min-width: 640px){
    .menu__odkaz:hover{
        font-weight: bold;
        transition: font-weight 0.3s;
    }
}


/* šéfkuchař */

.sefkuchar{
padding: 10% 15%;
text-align: center;
}

@media screen and  (min-width: 640px){
    .sefkuchar{
        display: flex;
        flex-wrap: wrap;
        padding: 5% 10%;
        text-align: center;
        height: 580px;
        }
}

.sefkuchar__obrazek{
    padding: 0 10% 10% 10%;
    height: 350px
}

@media screen and  (min-width: 640px){
    .sefkuchar__obrazek{
        flex: 35%;
        padding: 0;
        height: 100%;
        text-align: left;
    }
}

.sefkuchar__text{
    width: 100%;
    padding: 5% 10%;
    background-color: var(--sekundarniBarva);
}

@media screen and  (min-width: 640px){
    .sefkuchar__text{
        flex: 65%;
    }     
}

.sefkuchar__foto{
    box-shadow: rgba(144, 124, 99, 0.6) 0 0 5px;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

@media screen and  (min-width: 640px){
    .sefkuchar__foto{
        display: flex;
        box-shadow: rgba(144, 124, 99, 0.6) 0 0 5px;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }   
}


/* Degustační menu*/

.degustacniMenu{
background-image: url(/images/degustacni_menu.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 500px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.degustacniMenu_box{
    background-color: rgba(206, 195, 188, 0.7);
    width: 80%;
    text-align: center;
    padding: 5%;
}

@media screen and  (min-width: 640px){
    .degustacniMenu_box{
        width: 70%;
}
}

/* Patička */

.paticka{
    padding: 2.5% 0;
}
.paticka__logo{
    text-align: center;
}

@media screen and  (min-width: 640px){
  
    .paticka{
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 3%;
    }
    .paticka__logo{
        /* flex: calc(100%/3); */
        text-align: left;
    }
    .paticka__autor{
        display: block;
        /* flex: calc(100%/3); */
        text-align: center;
        font-family: var(--pismo1);
    }
    .paticka__adresa{
        display: block;
        /* flex: calc(100%/3); */
        text-align: right;  
    }
    .paticka__odkaz{
        text-decoration: none;
        /* text-transform: uppercase; */
        font-family: var(--pismo1);
        color: var(--barvaTextu);
        font-size: 17px;
        padding: 0 20px;
    }
}

/* Strana s jídelním lístkem */

/* Jídelní lístek */

.strankaMenu{
    padding: 5% 10%;
}

.strankaMenu__chod{
    text-align: center;
    padding: 5% 0;
}

.strankaMenu__boxNaObrazky{
    padding: 0 15%;
    margin: 10% 0;
}

.strankaMenu_obrazek{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/* Strana s degustačním menu */
.stranaDegustacniMenu{
    padding: 5% 10%;
    text-align: center;
}
.stranaDegustacniMenu__uvod{
    padding: 5% 0;
}

/*stranka kontakt*/

.stranaKontakt{
    padding: 5% 10%;
    text-align: center;
}

.stranaKontakt__oddil{
    padding: 5% 0;
}

@media screen and  (min-width: 640px){
    .stranaKontakt{
        display: flex;
        justify-content: space-between;
        /* align-items: center; */
        background-color: var(--sekundarniBarva);
    }
}