html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

:root{
	--hlavniBarva:rgba(206, 195, 188, 0.8);
    --hlavniBarvaPruhledna:rgba(206, 195, 188, 0.5);

    --sekundarniBarva: rgba(144, 124, 99, 0.2);


    --bavaTextu: #333333 ;

    --pismo1: "Montserrat";
    --pismo2: "hind";
}


/* obecne */

p{
    font-family: var(--pismo2);
    margin: 0;
    color: var(--bavaTextu);
}

body{
    background-color: var(--hlavniBarva);
    margin: 0;
}

.nadpis1{
    text-transform: uppercase;
    font-weight: normal;
    font-size: 70px;
    font-family: var(--pismo1);
    color: var(--bavaTextu);
    text-decoration: none;
}

.nadpis2{
    font-family: var(--pismo1);
    font-weight: normal;
    text-transform: uppercase;
    margin: 0 0 15px 0;
    color: var(--bavaTextu);
    text-decoration: none;
}

.tlacitko{
    display: inline-block;
    background-color: rgba(144, 124, 99, 0.2);
    margin:  25px 0 0 0;
    padding: 15px 20px;
    border-radius: 10px;
    transition: transform 0.5s;
}

.tlacitko2{
    display: inline-block;
    background-color: rgba(206, 195, 188, 0.7);
    margin:  25px 0 0 0;
    padding: 15px 20px;
    border-radius: 10px;
    transition: transform 0.5s;
}

.tlacitko:hover{
    transform: scale(1.1)
}

.tlacitko2:hover{
    transform: scale(1.1)

}

.tlacitko__odkaz{
    font-family: var(--pismo1);
    text-transform: uppercase;
    text-decoration: none;
    font-size: 15px;
    color: var(--bavaTextu);
    font-weight: bolder;
}


/* Hlavička */

.hlavicka{
    display: flex;
    flex-wrap: wrap;
    height: 600px;
    background-image: url(/images/hlavni_fotka.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

/* Navigační lišta */

.navigacniLista{ 
    flex-basis: 100%;
    display: flex;
    flex-wrap: wrap; 
    height: 60px;
    background-color: var(--hlavniBarvaPruhledna);
    transition: background-color 0.8s;
}

.navigacniLista:hover{
    background-color: rgba(206, 195, 188, 0.75);
    transition: background-color 0.8s;
  }

.navigacniLista__polozky{
    flex-basis: 35%;

    display: flex;
    flex-wrap: wrap;
}

.navigacniLista__polozka{
    flex-basis: 33.333333%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;  
}

.navigacniLista__odkaz{
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--pismo1);
    color: var(--bavaTextu);
    font-weight: bold;
    font-size: 18px;
    padding: 10px 20px;
}

.navigacniLista__odkaz:hover{
    font-size: 19px;
    transition: font-size 0.4s;

}

.navigacniLista_nazev{
    flex-basis: 65%;

    display: flex;
    justify-content: left;
    align-items: center;
}

.logoObrazek{
    flex-basis: 70%;  
}


/* hlavicka nadpis */

.hlavicka__nadpis{
    flex-basis: 100%;
    height: 440px;

    display: flex;
    Justify-content: center;
    align-items: center; 
}

.hlavicka__box{
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--hlavniBarvaPruhledna);
    text-align: center;
    height: 300px;
    width: 70%;
    
}

.hlavicka__text{
    font-weight: bold;
    font-family: var(--pismo2);
    text-decoration: none;
}

/* Vítejte */

.vitejte{
    text-align: center;
    padding: 4% 10%;
}




/* Menu */

.menu{
    background-color: var(--sekundarniBarva);
    text-align: center;
    padding: 5% 10%;
}

.menu__box{
    display: flex;
}

.menu__polozka{
    flex: calc(100%/3);

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 2% 5% 0 5%;
}

.menu__obrazky{
    flex: 100%;
    box-shadow: rgba(144, 124, 99, 0.6) 0 0 5px;
    display: flex;
    overflow: hidden;
}


.menu__obrazek{
    max-width: 100%;
    transition: transform 0.5s;
    position: relative; 
}

.menu__obrazek:hover{
    transform: scale(1.1)
}

.menu__odkazy{
    flex: 100%;
    background-color: var(--hlavniBarva);
    padding: 10px;
    box-shadow: rgba(144, 124, 99, 0.6) 0 0 5px;
}


.menu__odkaz{
    text-decoration: none;
    font-family: var(--pismo2);
    color: var(--bavaTextu);
    text-transform: uppercase;
}

.menu__odkaz:hover{
    font-weight: bold;
    transition: font-weight 0.3s;
}

/* šéfkuchař */

.sefkuchar{
display: flex;
padding: 5% 10%;
text-align: center;
}

.sefkuchar__text{
    flex: 50%;
    padding: 5% 5% ;
    background-color: var(--sekundarniBarva);

    
}

.sefkuchar__obrazek{
    flex: 50%;
    display: flex;
    padding: 0 10% 0 5% ;
}

.sefkuchar__foto{
    max-width: 100%;
    display: flex;
    box-shadow: rgba(144, 124, 99, 0.6) 0 0 5px;
}


/* Degustační menu*/


.degustacniMenu{
background-image: url(/images/degustacni_menu.jpg);
background-repeat: no-repeat;
background-position: center;
background-size: cover;
height: 500px;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
}

.degustacniMenu_box{
    background-color: rgba(206, 195, 188, 0.7);;
    width: 70%;
    text-align: center;
    padding: 5%;
}

/* Patička */

.paticka{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1%;
}



.paticka_autor{
    flex: calc(100%/3);
    text-align: center;
    padding: 10px 20px;
    font-family: var(--pismo1);
}

.paticka_adresa{
    flex: calc(100%/3);
    padding: 10px 20px;
    display: flex;
    justify-content: right;
    
}

.paticka_logo{
    flex: calc(100%/3);

}

.paticka_odkaz{
    font-family: var(--pismo1);
    text-decoration: none;
    font-weight: bold;
}










