<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- fonty -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
</head>
<body>


    <header class="hlavicka">


        <nav class="navigacniLista">

            <a class= "logoVelaris" href="/">V e l a r i s</a> 

            
            <input type="checkbox" class="navigacniLista__checkbox" id="navigacniLista-checkbox">
            <label for="navigacniLista-checkbox" class="navigacniLista__popisekCheckboxu">☰</label>
            
            <ul class="navigacniLista__menu navigacniLista__menu--pozice">
                <li class="navigacniLista__polozka"><a class="navigacniLista__odkaz" href="/rezervace/">Rezervace</a></li>
                <li class="navigacniLista__polozka"><a class="navigacniLista__odkaz" href="/menu/">Menu</a></li>
                <li class="navigacniLista__polozka"><a class="navigacniLista__odkaz" href="/kontakt/">Kontakt</a></li>
            </ul>
        
        </nav>

        <div class="hlavicka__nadpis">

                <div class="hlavicka__box">
                    <a class="hlavicka__text" href="/">
                        <h1 class="nadpis1">Velaris</h1>
                        <h2 class="nadpis2">Fine dining restaurant</h2>
                    </a>
                </div>
            

        </div>

    </div>
    </header>

    {# obsah stránky #}
    {{ content | safe }}
    {# konec #}


    <footer class="paticka">

        <div class= "paticka__logo logoVelaris">
            <a class= "navigacniLista__odkaz" href="/">V e l a r i s</a> 
        </div>

        <div class="paticka__autor nezobrazovat"> 
        © 2024 Kate Lenc
        </div>

        <div class="paticka__adresa nezobrazovat">
            <a class="paticka__odkaz" href="/kontakt/"><p>Riegerova 20, 301 00 Plzeň 3</p><p>+420 666 999 666</p></a>
        </div>
    </footer>


    
</body>
</html>