<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css">

    <!-- fonty -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    
</head>
<body>



    <header class="hlavicka">


        <div class="navigacniLista">
            
            <div class="navigacniLista_nazev">
                <a class= "odkaz" href="/">Velaris</a> 
            </div>

            <div class="navigacniLista__polozky">
            
                <div class="navigacniLista__polozka">
                    <a class="odkaz" href="/rezervace/">Rezervace</a>
                </div>

                <div class="navigacniLista__polozka">
                    <a class="odkaz" href="/menu/">Menu</a>
                </div>

                <div class="navigacniLista__polozka">
                    <a class="odkaz" href="/kontakt/">Kontakt</a>
                </div>
                
            </div>
        
        </div>

        <div class="hlavicka__nadpis">

            <div class="hlavicka__box">
               <div class="hlavicka__text"> 
                    <h1 class="hlavicka__velaris">Velaris</h1>
                    <h2>Fine dining restaurant</h2>
                </div>
            </div>

        </div>

    </div>
    </header>

    {# obsah stránky #}
    {{ content | safe }}
    {# konec #}


    <footer class="footer">
         <a class= "logo" href="/"><img  src="/images/logo.jpg" alt="logo velaris"></a>
        <p>Riegerova 20, 301 00 Plzeň 3</p>
        <p>+420 666 999 666</p>

    </footer>


    
</body>
</html>